<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Devour it!{{else}}I want that burger again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Im done with it forever</button>
</li>
